<div class="wrapper">
    <div class="movie-content" *ngIf="movie">
        <mat-card class="movie-card">
            <img [src]="utils.generateMovieImage(movie.poster)" [alt]="movie.title">
        </mat-card>
        <mat-card class="movie-card" appearance="outlined">
            <mat-card-content>
                <h1>Nova rezervacija:</h1>
                <h1 class="text-wrap">{{movie.title}}</h1>
                <mat-form-field class="full-width">
                    <mat-label>Ime filma</mat-label>
                    <input type="text" matInput [value]="movie.title" disabled>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Vreme projekcije</mat-label>
                    <input type="text" matInput [value]="utils.formatDate(movie.startDate)" disabled>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Broj karata</mat-label>
                    <input type="number" matInput [(ngModel)]="selectedTicketCount">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Cena karte</mat-label>
                    <input type="text" matInput [value]="moviePrice" disabled>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button (click)="doOrder()">
                    <i class="fa-solid fa-cart-shopping"></i> Rezerviši
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>