.order-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.order-card-left {
    width: 40%;
    margin: 20px;
}

.order-card-poster {
    margin: 10px;
    height: 98%;
}

.order-card-right {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    margin: 20px;
}

.margin-right{
    margin-bottom: 15px;
}
