<div class="wrapper">
    <div class="movie-content" *ngIf="movie">
        <mat-card class="movie-card-left">
            <img class="movie-card-poster" [src]="utils.generateMovieImage(movie.poster)" [alt]="movie.title">
        </mat-card>
        <mat-card class="movie-card-right" appearance="outlined">
            <mat-card-content>
                <h1>Nova rezervacija:</h1>
                <h1 class="text-wrap"><i class="fa-solid fa-clock-rotate-left"></i> {{movie.title}}</h1>
                <mat-card-content class="desc">
                    <mat-label><i class="fa-solid fa-clock-rotate-left"></i> Opis</mat-label>
                    <pre class="text-wrap">{{movie.shortDescription}}</pre>
                    <p><i class="fa-solid fa-clock-rotate-left"></i> Glumci: </p>
                    <span class="text-wrap"
                        *ngFor="let actors of utils.getActors(movie.movieActors); let isLast = last">
                        {{actors}}
                        <span *ngIf="!isLast">, </span>
                    </span>
                    <p><i class="fa-solid fa-clock-rotate-left"></i> Reziser: </p>
                    <span class="text-wrap">{{utils.getDirector(movie.director)}}</span>
                    <p><i class="fa-solid fa-clock-rotate-left"></i> Zanrovi: </p>
                    <span *ngFor="let genre of utils.getGenres(movie.movieGenres); let isLast = last">
                        {{genre}}
                        <span *ngIf="!isLast">, </span>
                    </span>
                </mat-card-content>
                <mat-form-field class="full-width">
                    <mat-label><i class="fa-solid fa-clock-rotate-left"></i> Vreme projekcije</mat-label>
                    <input type="text" matInput [value]="utils.formatDate(movie.createdAt)" disabled>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label><i class="fa-solid fa-clock-rotate-left"></i> Datum izlaska</mat-label>
                    <input type="text" matInput [value]="utils.formatDate(movie.startDate)" disabled>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label><i class="fa-solid fa-clock-rotate-left"></i> Broj karata</mat-label>
                    <input type="number" matInput [(ngModel)]="selectedTicketCount">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label><i class="fa-solid fa-clock-rotate-left"></i> Cena karte</mat-label>
                    <input type="text" matInput [value]="moviePrice" disabled>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button (click)="doOrder()">
                    <i class="fa-solid fa-cart-shopping"></i> Rezerviši
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>