.movie-card-right {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    margin: 20px;
}

.movie-card-left {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    margin: 20px;
}

.movie-card-poster {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    height: 98%;
    margin: 10px;
}

.movie-content {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
}

.desc{
    margin-bottom: 15px;
}