<div *ngIf="movie">
    <mat-card class="order-card" appearance="outlined">
        <img class="order-poster" mat-card-image [src]="utils.generateMovieImage(movie.poster)" [alt]="movie.title">
        <mat-card-content>
            <h1>Nova rezervacija - {{movie.title}}</h1>
            <mat-form-field class="full-width">
                <mat-label>Ime filma</mat-label>
            <input type="text" matInput [value]="movie.title" disabled>
        </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="doOrder()">
                <i class="fa-solid fa-cart-shopping"></i> Rezerviši
            </button>
        </mat-card-actions>
    </mat-card>
</div>