<mat-toolbar color="primary">
    <span><i class="fa-solid fa-ticket-simple"></i> FilmTickets</span>
    <span class="spacer"></span>
    <a routerLink="/" mat-button>
        <i class="fa-solid fa-house"></i> Početna strana
    </a>
    <a routerLink="/search" mat-button>
        <i class="fa-solid fa-magnifying-glass"></i> Pretraga
    </a>
    <a routerLink="/login" mat-button>
        <i class="fa-solid fa-right-to-bracket"></i> Prijava
    </a>
    <a routerLink="/about" mat-button>
        <i class="fa-solid fa-circle-info"></i> O aplikaciji
    </a>
</mat-toolbar>



<router-outlet />
