<mat-card class="auth-card">
    <mat-card-header>
        <h1>Kreiranje Naloga</h1>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field class="full-width">
            <mat-label>E-mail</mat-label>
            <input type="email" matInput placeholder="Unesite vaš email..." [(ngModel)]="email">
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Ime</mat-label>
            <input type="text" matInput placeholder="Unesite vaše ime..." [(ngModel)]="firstName">
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Prezime</mat-label>
            <input type="text" matInput placeholder="Unesite vaše prezime..." [(ngModel)]="lastName">
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Broj telefona</mat-label>
            <input type="tel" matInput placeholder="Unesite vaš broj telefona..." [(ngModel)]="phone">
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Adresa</mat-label>
            <input type="text" matInput placeholder="Unesite vašu adresu..." [(ngModel)]="address">
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Lozinka</mat-label>
            <input type="password" matInput placeholder="Unesite vašu lozinku..." [(ngModel)]="password">
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Ponovite lozinku</mat-label>
            <input type="password" matInput placeholder="Ponovite vašu lozinku..." [(ngModel)]="repeatPassword">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Odaberite omiljen žanr</mat-label>
            <mat-select>
                <mat-option value="one">First option</mat-option>
                <mat-option value="two">Second option</mat-option>
            </mat-select>
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
        <button type="button" mat-button (click)="doSignup()">
            <i class="fa-solid fa-right-to-bracket"></i>Napravi nalog
        </button>
        <a routerLink="/login" mat-button>
            <i class="fa-solid fa-arrow-up-right-from-square"></i>Već imam nalog
        </a>
    </mat-card-actions>
</mat-card>