.user-card {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

.no-border {
    margin: 0;
    padding: 0;
}

.user-card-content {
    padding: 10px;
}

.no-order {
    margin-top: 30px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.wrapper-user-profile {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.user-order-title {
    width: 100%;
    text-align: center;
}

.movie-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    min-width: none;
    max-height: none;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}

.top-user-order {
    margin-bottom: 15px;
    min-width: 30%;
}

.left-user-order {
    min-width: 25%;
    margin-bottom: 15px;
}

.middle-user-order {
    min-width: 25%;
    margin-bottom: 15px;
}

.right-user-order {
    display: flex;
    flex-direction: row;
    min-width: 25%;
    margin-bottom: 15px;
}

.right-user-order-padding{
    margin-right: 35px;
}

.user-order-rating{
    text-align: start;
}

.user-order-actions {
    display: flex;
    flex-direction: column;
}