<div class="wrapper" *ngIf="user">

    <mat-card class="user-card" appearance="outlined">
        <mat-card-header>
            <img mat-card-avatar class="example-header-image" [src]="['https://ui-avatars.com/api/?name='+user.email]">
            <mat-card-title>{{user.firstName}} {{user.lastName}}</mat-card-title>
            <mat-card-subtitle>
                <p class="no-border">Broj rezervacija: {{user.orders.length}}</p>
                <p class="no-border">Omiljen žanr: {{user.favouriteGenre}}</p>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="user-card-content">
            <mat-accordion multi>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title><i class="fa-solid fa-key"></i>&nbsp;Promeni lozinku </mat-panel-title>
                    </mat-expansion-panel-header>

                    <mat-form-field class="full-width">
                        <mat-label>Stara lozinka</mat-label>
                        <input matInput type="password" [(ngModel)]="oldPasswordValue" />
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <mat-label>Nova lozinka</mat-label>
                        <input matInput type="password" [(ngModel)]="newPasswrodValue" />
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <mat-label>Ponovite novu lozinku</mat-label>
                        <input matInput type="password" [(ngModel)]="repeatPasswordValue" />
                    </mat-form-field>

                    <button mat-button (click)="doChangePassword()">
                        <i class="fa-solid fa-paper-plane"></i> Potvrdi
                    </button>
                </mat-expansion-panel>
                <mat-expansion-panel *ngIf="userCopy">
                    <mat-expansion-panel-header>
                        <mat-panel-title><i class="fa-solid fa-user-tag"></i>&nbsp;Promeni lične podatke
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <mat-form-field class="full-width">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" [(ngModel)]="userCopy.email" disabled />
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <mat-label>Ime</mat-label>
                        <input matInput type="text" [(ngModel)]="userCopy.firstName" />
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <mat-label>Prezime</mat-label>
                        <input matInput type="text" [(ngModel)]="userCopy.lastName" />
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <mat-label>Broj telefona</mat-label>
                        <input matInput type="tel" [(ngModel)]="userCopy.phone" />
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <mat-label>Adresa</mat-label>
                        <input matInput type="text" [(ngModel)]="userCopy.address" />
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <mat-label>Odaberite omiljen žanr</mat-label>
                        <mat-select [(ngModel)]="userCopy.favouriteGenre">
                            <mat-option *ngFor="let genre of genreList" [value]="genre.name">
                                {{genre.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <button mat-button (click)="doUpdateUser()">
                        <i class="fa-solid fa-paper-plane"></i> Promeni
                    </button>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-card-content>
    </mat-card>

    <mat-card appearance="outlined" *ngIf="user.orders.length == 0" class="no-order">
        <mat-card-content>
            <h1>Nemate rezervacija</h1>
            <p>Da rezrvišete kartu idite na <a routerLink="/search" class="cyan">stranicu pretrage</a>.</p>
        </mat-card-content>
    </mat-card>

    <div *ngIf="user.orders.length > 0">
        <div class="wrapper-user-profile" *ngIf="user.orders">
            <h1 class="user-order-title">Lista rezervacija</h1>
            <div *ngFor="let o of user.orders" class="mat-card-margin">
                <mat-card class="movie-card" appearance="outlined">
                    <mat-card-content class="top-user-order">
                        <h1 class="text-wrap"><i class="fa-solid fa-film"></i> {{o.title}}</h1>
                        <mat-label><i class="fa-solid fa-message"></i> Opis</mat-label>
                        <pre class="text-wrap">{{o.shortDescription}}</pre>
                        <p><i class="fa-solid fa-users"></i> Glumci: </p>
                        <span class="text-wrap"
                            *ngFor="let actors of utils.getActors(o.movieActors); let isLast = last">
                            {{actors}}
                            <span *ngIf="!isLast">, </span>
                        </span>
                    </mat-card-content>
                    <mat-card-content class="left-user-order">
                        <p><mat-label><i class="fa-solid fa-bullhorn"></i> Režiser: </mat-label></p>
                        <span class="text-wrap">{{utils.getDirector(o.director)}}</span>
                        <p><mat-label><i class="fa-solid fa-masks-theater"></i> Žanrovi: </mat-label></p>
                        <span *ngFor="let genre of utils.getGenres(o.movieGenres); let isLast = last">
                            {{genre}}
                            <span *ngIf="!isLast">, </span>
                        </span>
                        <p><mat-label><i class="fa-solid fa-ticket"></i> Broj karata: </mat-label></p>
                        <p class="text-wrap">{{o.count}}</p>
                    </mat-card-content>
                    <mat-card-content class="middle-user-order">
                        <p><mat-label><i class="fa-solid fa-clock-rotate-left"></i> Vreme projekcije: </mat-label></p>
                        <p class="text-wrap">{{utils.formatDate(o.createdAt)}}</p>
                        <p><mat-label><i class="fa-solid fa-calendar"></i> Datum izlaska: </mat-label></p>
                        <p class="text-wrap">{{utils.formatDate(o.startDate)}}</p>
                        <p><mat-label><i class="fa-solid fa-money-bill"></i> Cena karata: </mat-label></p>
                        <p class="text-wrap">{{o.pricePerItem*o.count}}</p>
                    </mat-card-content>
                    <mat-card-content class="right-user-order">
                        <div class="right-user-order-padding">
                            <p><mat-label><i class="fa-solid fa-star"></i> Ocena: </mat-label></p>
                            <h3 *ngIf="o.rating == null">
                                NISTE OCENILI FILM
                            </h3>
                            <h3 *ngIf="o.rating == true">
                                DOBAR
                            </h3>
                            <h3 *ngIf="o.rating == false">
                                LOŠ
                            </h3>
                            <p><mat-label><i class="fa-solid fa-chart-simple"></i> Status: </mat-label></p>
                            <h3>{{o.status.toUpperCase()}}</h3>
                        </div>
                        <mat-card-actions>
                            <div class="user-order-actions">
                                <a mat-button [routerLink]="['/details/'+o.shortUrl]">
                                    <i class="fa-solid fa-arrow-up-right-from-square"></i> DETALJI
                                </a>
                                <div *ngIf="o.status == 'rezervisano'" class="user-order-actions">
                                    <button type="button" mat-button (click)="doPay(o)">
                                        <i class="fa-solid fa-cart-shopping"></i> PLATI
                                    </button>
                                    <button type="button" mat-button (click)="doCancel(o)">
                                        <i class="fa-solid fa-ban"></i> OTKAŽI
                                    </button>
                                </div>
                                <div *ngIf="o.status == 'otkazano'" class="user-order-actions">
                                    <button type="button" mat-button (click)="doDeleteOrder(o)">
                                        <i class="fa-solid fa-cart-shopping"></i> OBRIŠI
                                    </button>
                                </div>
                                <div *ngIf="o.status == 'gledano' && o.rating == null" class="user-order-actions">
                                    <button type="button" mat-button (click)="doRating(o, true)">
                                        <i class="fa-solid fa-thumbs-up"></i> DOBAR
                                    </button>
                                    <button type="button" mat-button (click)="doRating(o, false)">
                                        <i class="fa-solid fa-thumbs-down"></i> LOŠ
                                    </button>
                                </div>
                            </div>
                        </mat-card-actions>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>