<div class="wrapper" *ngIf="dataSource">
    <h1>Pretraga</h1>
    <mat-card>
        <mat-card-content>
            <mat-form-field>
                <mat-label>Pretraga</mat-label>
                <input type="text" matInput placeholder="Unesite pojam za pretragu..." (keyup)="doFilterChain()"
                    [(ngModel)]="userInput">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Odaberite režisera</mat-label>
                <mat-select (selectionChange)="doFilterChain()" [(ngModel)]="selectedDirector">
                    <mat-option *ngFor="let dir of directors" [value]="dir">
                        {{dir}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Odaberite trajanje filma</mat-label>
                <mat-select (selectionChange)="doFilterChain()" [(ngModel)]="selectedRuntime">
                    <mat-option *ngFor="let runtime of runtimeList" [value]="runtime">
                        {{runtime}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Odaberite zanr</mat-label>
                <mat-select (selectionChange)="doFilterChain()" [(ngModel)]="selectedGenre">
                    <mat-option *ngFor="let genre of genres" [value]="genre">
                        {{genre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Odaberite glumca</mat-label>
                <mat-select (selectionChange)="doFilterChain()" [(ngModel)]="selectedActor">
                    <mat-option *ngFor="let actor of actors" [value]="actor">
                        {{actor}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Početak prikazivanja</mat-label>
                <mat-select (selectionChange)="doFilterChain()" [(ngModel)]="selectedProj">
                    <mat-option *ngFor="let proj of projectionDate" [value]="proj">
                        {{proj}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Datum izlaska</mat-label>
                <mat-select (selectionChange)="doFilterChain()" [(ngModel)]="selectedRelease">
                    <mat-option *ngFor="let rel of releaseDate" [value]="rel">
                        {{rel}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="doReset()">
                <i class="fa-solid fa-ban"></i> Ukloni sve filtere pretrage
            </button>
        </mat-card-actions>
    </mat-card>
    <p *ngIf="dataSource.length == 0">Nismo pronasli film</p>
</div>

<div *ngIf="dataSource" class="search-wrapper">
    <mat-card *ngFor="let movie of dataSource">
        <img mat-card-image class="search-poster" [src]="utils.generateMovieImage(movie.poster)" [alt]="movie.title">
        <mat-card-content class="search-content">
            <h3 class="text-wrap">
                <i class="fa-solid fa-film"></i> {{movie.title}}
            </h3>
            <mat-list-item class="list-search">
                <span matListItemIcon>
                    <i class="fa-solid fa-masks-theater"></i>
                </span>
                <span matListItemTitle class="span-title">
                    Žanrovi:
                </span>
                <span *ngFor="let genre of utils.getGenres(movie.movieGenres); let isLast = last">
                    {{genre}}
                    <span *ngIf="!isLast">, </span>
                </span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemIcon>
                    <i class="fa-solid fa-bullhorn"></i>
                </span>
                <span matListItemTitle class="span-title">
                    Režiser:
                </span>
                <span class="text-wrap">{{utils.getDirector(movie.director)}}</span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemIcon>
                    <i class="fa-solid fa-clock-rotate-left"></i>
                </span>
                <span matListItemTitle class="span-title">
                    Vreme trajanja:
                </span>
                <span>{{movie.runTime}} minuta</span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemIcon>
                    <i class="fa-solid fa-calendar"></i>
                </span>
                <span matListItemTitle class="span-title">
                    Početak projekcije:
                </span>
                <span>{{utils.formatDate(movie.createdAt)}}</span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemIcon>
                    <i class="fa-solid fa-calendar"></i>
                </span>
                <span matListItemTitle class="span-title">
                    Izašao datuma:
                </span>
                <span>{{utils.formatDate(movie.startDate)}}</span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemIcon>
                    <i class="fa-solid fa-users"></i>
                </span>
                <span matListItemTitle class="span-title">
                    Glumci:
                </span>
                <div class="glumci-font">
                    <span class="text-wrap"
                        *ngFor="let actors of utils.getActors(movie.movieActors); let isLast = last">
                        {{actors}}
                        <span *ngIf="!isLast">, </span>
                    </span>
                </div>
            </mat-list-item>
            <span matListItemIcon><i class="fa-solid fa-message"></i></span>
            <span matListItemTitle class="span-title"> Opis: </span>
            <pre class="text-wrap">{{movie.shortDescription}}</pre>
        </mat-card-content>
        <mat-card-footer>
            <mat-card-actions>
                <a mat-button [routerLink]="['/details/', movie.shortUrl]">
                    <i class="fa-solid fa-arrow-up-right-from-square"></i> DETALJI
                </a>
                <a mat-button [routerLink]="['/details/'+movie.shortUrl+'/order']">
                    <i class="fa-solid fa-cart-shopping"></i> REZERVIŠI
                </a>
            </mat-card-actions>
        </mat-card-footer>
    </mat-card>

</div>



<app-loading *ngIf="!dataSource" />