<div *ngIf="error" class="container">
    <mat-card class="loading" appearance="outlined" color="red">
        <mat-card-content>
            <h1>Oops, an error occured!</h1>
            <p style="color: red">{{error}}</p>
        </mat-card-content>
    </mat-card>
</div>

<div *ngIf="movies" class="container-home">
    <mat-card class="example-card-home" appearance="outlined" *ngFor="let movie of movies | slice: 0 : 12">
        <img mat-card-image class="poster" [src]="utils.generateMovieImage(movie.poster)" [alt]="movie.title">
        <mat-card-content>
            <h3><i class="fa-solid fa-film"></i> {{movie.title}}</h3>
            <p><i class="fa-solid fa-calendar"></i> Izašao datuma: </p>
            <p> {{utils.formatDate(movie.startDate)}}</p>
            <p><i class="fa-solid fa-clock-rotate-left"></i> Početak projekcije: </p>
            <p> {{utils.formatDate(movie.createdAt)}}</p>
            <p><i class="fa-solid fa-message"></i> Kratak opis: </p>
            <p class="text-wrap">{{movie.shortDescription}}</p>
        </mat-card-content>
        <mat-card-actions>
            <a mat-button [routerLink]="['/details/', movie.shortUrl]">
                <i class="fa-solid fa-arrow-up-right-from-square"></i> DETALJI
            </a>
            <a mat-button [routerLink]="['/details/'+movie.shortUrl+'/order']">
                <i class="fa-solid fa-cart-shopping"></i> REZERVIŠI
            </a>
        </mat-card-actions>
    </mat-card>
</div>

<app-loading *ngIf="!movies && !error" />