.details-wrapper {
    display: flex;
    justify-content: center;
    margin: 15px
}

.movie-card {
    max-width: 60%;
    margin: 20px;
}

.full-width-details {
    margin: 10px;
    padding: 5px;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 350px;
}

.content-details{
    margin-top: 20px;
    margin-bottom: 20px;
}

.glumci-font{
   font-size: 14px;
}

.poster-details {
    width: 30%;
}