<div class="wrapper" *ngIf="movie">
    <div class="movie-content">
        <mat-card class="movie-card">
            <img [src]="utils.generateMovieImage(movie.poster)" [alt]="movie.title">
        </mat-card>
        <mat-card class="movie-card" appearance="outlined">
            <mat-card-content>
                <h1>{{movie.title}}</h1>
                <mat-list role="list">
                    <mat-list-item>Žanrovi:
                        <span *ngFor="let genre of utils.getGenres(allGenres); let isLast = last">
                            {{genre}}
                            <span *ngIf="!isLast">, </span>
                        </span>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>
                    <i class="fa-solid fa-cart-shopping"></i> Rezerviši
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>

<app-loading *ngIf="!movie" />