.details-wrapper {
    display: flex;
    justify-content: center;
    margin: 15px
}

.movie-card {
    display: flex;
    flex-direction: wrap;
    max-width: 70%;
    margin: 20px;
}

.header-details {
    display: flex;
    flex-wrap: wrap;
}

.header-left {
    display: flex;
    min-width: 25%;
    height: 350px;
}

.poster-details {
    display: flex;
    min-width: 30%;
}

.header-right {
    display: flex;
    max-width: 60%;
    height: 350px;
}

.full-width-details {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 10px;
    padding: 5px;
    width: 100%;
    min-height: 450px;
}

.content-details {
    margin-top: 20px;
    margin-bottom: 20px;
}

.glumci-font {
    font-size: 14px;
}